{% extends 'base.html' %}

{% block corpo %}
      <!-- Blog Entries Column -->
      <div class="col-md-12">

        <h1 class="my-4">Partidas
          <small>escolha uma para jogar</small>
        </h1>

        {% for partida in Partidas %}
        <div class="card mb-4">
          <div class="card-body">
            <h2 class="card-title">{{partida.nome}}</h2>
            <a href="{{partida.id}}/jogadores/" class="btn btn-primary">Escolher Jogador &rarr;</a>
          </div>
        </div>
        {% endfor %}

      </div>
{% endblock %}