{% extends 'base.html' %}

{% block corpo %}

      <!-- Blog Entries Column -->
      <div class="col-md-12">

        <h1 class="my-4">Jogadores
          <small>escolha um para jogar</small>
        </h1>

          {% for jogador in Jogadores %}
          <!-- Blog Post -->
          <div class="card mb-4">
            <div class="card-body">
              <h2 class="card-title">{{ jogador.nome }}</h2>
              <p class="card-text">Conta: {{ jogador.conta }}</p>
              <p class="card-text">Saldo: {{ jogador.saldo }}</p>
              <a href="{{jogador.conta}}/conta/" class="btn btn-primary">Jogar &rarr;</a>
             </div>
          </div>
          {% endfor %}

      </div>
{% endblock %}